@Model Department

<table>
    <tr>
        <th>Id</th>
        <th>Department Name</th>
    </tr>
    <tr>
        <th><p>@Model.Id</p></th>
        <th><p>@Model.Name</p></th>
    </tr>
</table>

@using (Html.BeginForm("Edit", "Department", FormMethod.Post))
{
    <fieldset>
        <p>
            <label>Enter new name for the department</label>
            <br />
            <input type="text" name="Name" />
        </p>
        <p><input type="submit" value="Save Changes" /></p>
    </fieldset>
}
