<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <connectionStrings>
        <add name="EmployeesInformationConnection" connectionString=" Data Source=%SERVERNAME%\\SQLEXPRESS;Initial Catalog=EmployeesInformationDB;Integrated Security=False;Persist Security Info=True;MultipleActiveResultSets=true;User ID=%USER%;Password=%PASSWORD%" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>